*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    width: 520px;
    height: 300px;
    display: grid; /* Use grid for layout */
    grid-template-rows: auto 1fr; /* Header takes auto height, content takes remaining space */
    grid-template-columns: 60px 1fr; /* Sidebar takes 60px width, content takes remaining space */
  }
  .sidebar {
    background-color: #f0f0f0;
    overflow: auto; /* Add scrollbar if content overflows */
    display: flex;
    flex-direction: column;
    height: 100%; /* Sidebar takes full height */
  }
  .content, .settings {
    padding-left: 20px; /* Add padding to separate sidebar from content */
    display: none; /* Initially hide both content and settings */
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; 
  }
  
  .menu-item {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Align items vertically */
  }
  .menu-item img {
    margin-right: 10px; /* Add spacing between icon and text */
  }
  .menu-item:hover {
    background-color: #dcdcdc;
  }
  .header {
    grid-column: span 2; /* Header spans both columns */
    display: flex;
    align-items: center;
    padding: 2px 10px; /* 10px top and bottom padding, 0px left and right padding */
  }
  .header img {
    margin-right: 10px;
    margin-left: 5px;
  }
  .header h1 {
    font-size: 20px; 
    margin-left: 5px;/* Smaller font size for the title */
  }
  .middle-message {
    display: flex;
    justify-content: flex-end; /* Align the text to the right */
    align-items: center; /* Center the text vertically */
    padding-right: 10px; /* Add padding to the right */
    font-size: 14px;
    color: #333;
    grid-row: span 2; /* Middle message spans both rows */
  }
  .content {
    grid-column: 2; /* Settings start from the second column */
    display: flex; /* Change display property to flex */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: space-around; /* Space items evenly vertically */
    padding: 20px; /* Add padding to the settings container */
    box-sizing: border-box; /* Include padding in width calculation */
    max-width: calc(100% - 60px); /* Set max-width to prevent taking over sidebar */
    position: relative; 
    margin-left: 25px; /* Content starts from the second column */
  }
    #startScraping {
        background-color: #3264fe;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 500;
        font-size: 12px;
    }
    #stopScraping{
        background-color: #fe3232;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 500;
        font-size: 12px;
    }
    #startScraping:hover{
        background-color: #1e3fa9;
    }
    #stopScraping:hover {
        background-color: #a91e1e;
    }
  .settings {
    display: none;
    grid-column: 2; /* Settings start from the second column */
    display: flex; /* Change display property to flex */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: space-around; /* Space items evenly vertically */
    padding: 20px; /* Add padding to the settings container */
    box-sizing: border-box; /* Include padding in width calculation */
    max-width: calc(100% - 60px); /* Set max-width to prevent taking over sidebar */
    position: relative; 
    margin-left: 25px; /* Make the container a positioning context for absolute children */
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    background-color: rgb(184, 184, 184);
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 50%; /* Center the track vertically */
    transform: translateY(-50%); /* Center the track vertically */
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
/* Adjustments to .values container */
.values {
    background-color: #3264fe;
    width: 20%; /* Make the container full width */
    padding: 10px 0; /* Adjust padding */
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px; /* Add margin to separate from the slider elements */
    position: relative; /* Position relative to the settings container */
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;

}
